.container{
    background-color: rgb(145, 68, 148);
}


button{
    width: 100px;
    height: 40px;
    padding: 15px;
}
.btnnn{
    margin-left: 380px;
}

.btnnn{
    margin-left: 300px;
}